# Add all other non-production files/folders here
target/

# Editors
.vscode/
.idea/

# Ignore all data files, but keep the folder
data/**/*.json
data/**/*.txt
data/**/*.db
test_data/

# Environment
.env.local